<div class="r2 box-shadow">
<app-left-sidebar></app-left-sidebar>
  <div class="r2c2">
    <div class="conv-text-row-1">Convert Celsius to Fahrenheit</div>
    <input class="conv-textbox-row-1" type="text" placeholder="Enter Celsius Value">
    <button class="conv-btn-row-1">Convert</button>
    <div class="conv-text-row-2">Convert Celsius to Kelvin</div>
    <input class="conv-textbox-row-2" type="text" placeholder="Enter Celsius Value">
    <button class="conv-btn-row-2">Convert</button>
    <div class="conv-text-row-3">Convert Fahrenheit to Celsius</div>
    <input class="conv-textbox-row-3" type="text" placeholder="Enter Fahrenheit Value">
    <button class="conv-btn-row-3">Convert</button>
    <div class="conv-text-row-4">Convert Fahrenheit to Kelvin</div>
    <input class="conv-textbox-row-4" type="text" placeholder="Enter Fahrenheit Value">
    <button class="conv-btn-row-4">Convert</button>
    <div class="conv-text-row-5">Convert Kelvin to Celsius</div>
    <input class="conv-textbox-row-5" type="text" placeholder="Enter Kelvin Value">
    <button class="conv-btn-row-5">Convert</button>
    <div class="conv-text-row-6">Convert Kelvin to Fahrenheit</div>
    <input class="conv-textbox-row-6" type="text" placeholder="Enter Kelvin Value">
    <button class="conv-btn-row-6">Convert</button>
  </div>
<app-right-sidebar></app-right-sidebar>
</div>