

.r1,
.r3 {
    background-color: #0087c7;
}

.r2c1,
.r2c3 {
    background-color: darkgray;
}

.r1,
.r2,
.r3 {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-column-gap: 1em;
}

.copyright-text {
    align-self: center;
    justify-self: center;
}


